body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #46178f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 10px;
    align-items: center;
}
.get{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.get button{
    width: 110px;
    border-radius: 12px;
    height: 45px;
    border: none;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.logokahoot h1{
    color: #46178f;
}
.recherche textarea{
    resize: none;
    width: 350px;
    padding-top: 10px;
    padding-left: 10px;
    height: 23px;
}
.super{
    display: flex;
    flex-direction: row;
    gap: 10px;    
    align-items: center;
}
.super .star p{
    color: #11DA17;
    font-weight: bold;
}
.star{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    
}
.star img{
    width: 24px;
}
#super{
    background-color: blue;
    color: white;
    width: 200px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
#create{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 20px;
}
#homme{
    border: none;
    height: 40px;
    font-size: 30px;
    background-color: #fff;
    
}
#cloche{
    background-color: #fff;
    border: none;
    height: 40px;
    font-size: 20px;
}
.bottom{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 15vw 83vw;
    grid-template-areas: 
    "left main"
    ;
}
.left{
    grid-area: left;
    display: flex;
    flex-direction: column;
}
.left ul{
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: whitesmoke;
}
#translate{
    display: flex;
    align-items: center;
    line-height: 20px;
    gap: 5px;
}
.left ul li{
    font-size: large;
}
.left ul li:hover{
    background-color: purple;
    color: #fff;
}
main{
    grid-area: main;
    
}
main table{
    width: 100%;
    text-align: center;
   
}
.left ul li{
    list-style: none;
}
ul{
    line-height: 30px;
}
table{
    width: 100%;
    height: 100%;

}

/* --------- MEDIA QUERIES ---------- */
@media screen and (max-width: 1064px){
    .topbar{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "kahoot recherche"
        "super super";

    }
    .recherche{
        margin-right: 100px;
        grid-area: recherche;
    }
    .logokahoot{
        grid-area: kahoot;

    }
    .super{
        grid-area: super;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
   

}
@media screen and (min-width: 1100px){
    header{
        padding-right: 20px;
    }
}