body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer"
    ;
    font-size: 2rem;
}
header{
    background-color: pink;
    grid-area: header;
    padding: 20px;
}
.left{
    background-color: aquamarine;
    grid-area: left;
    padding: 20px;
}
main{
    background-color: gold;
    grid-area: main;
    padding: 20px;
}
.right{
    background-color: seashell;
    grid-area: right;
    padding: 20px;
}
footer{
    background-color: greenyellow;
    grid-area: footer;
    padding: 20px;
}

@media screen and (max-width: 900px){
    body{
        display: grid; 
        grid-template-rows: 15vh 15vh 40vh 15vh 15vh;
        grid-template-areas:
        "header"
        "left"
        "main"
        "right"
        "footer" ; 
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px){
    body{
        display: block;
        text-align: center;
    }
}

/* --------  STYLE FOR TABLE HTML  ------- */

/*  Media queries  */
     @media (max-width: 600px) {
          table thead th:nth-child(3),
          table tbody td:nth-child(3),
          table thead th:nth-child(4),
          table tbody td:nth-child(4) {
               display: none;
          }
     }

/*  Table scrollable    */
     .table-container {
          overflow-x: auto;
     }
     table {
          width: 100%;
          border-collapse: collapse;
     }
     table thead th,
     table tbody td,
     table tfoot td {
        border: 1px solid #ccc;
        padding: 8px;
     }